<p>Hello <%= @resource.name %>!</p>

<p>Welcome to SmartVending Dashboard</p>

<p>Your username is: <%= @resource.email %></p>
<p>Your password is: <%= @password %></p>
<p>You may login in <a href="http://<%=Rails.application.config.action_mailer.default_url_options[:host]%>">here</a>.